@import "./reset";
@import "./variables/global";
@import "./themes/dark";
@import "./themes/light";
@import "./themes/simple";

.app {
    background: var(--bg-color);
    width: 100vw;
    min-height: 100vh;
}

.app_light_theme, .app_dark_theme, .app_simple_theme {
    font: var(--font-m);
    color: var(--color-primary);
}

.content-page {
    display: flex;
    background-color: var(--bg-color);
}
