.dark,
.light {
    background-color: inherit;
}

.wrapper {
    box-sizing: content-box;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    cursor: pointer;
    font: var(--font-s);
}

.themeName {
    margin-left: 12px;

    &.themeLight {
        color: var(--color-inverted);
    }

    &.themeDark {
        color: var(--color-main);
    }
    &.themeSimple {
        color: var(--color-primary);
    }
}