@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;600&display=swap');

@font-face {
    font-family: 'Consolas';
    src: url('shared/assets/fonts/consolas.ttf');
    font-weight: 500;
}

:root {
    --font-family-main: "Inter Regular", sans-serif;
    --font-size-s: 16px;
    --font-line-s: 16px;
    --font-weight-s: 300;
    --font-s: var(--font-weight-s) var(--font-size-s) / var(--font-line-s) var(--font-family-main);
    --font-size-m: 18px;
    --font-line-m: 20px;
    --font-weight-m: 300;
    --font-m: var(--font-weight-m) var(--font-size-m) / var(--font-size-m) var(--font-family-main);
    --font-size-l: 18px;
    --font-line-l: 22px;
    --font-weight-l: 500;
    --font-l: var(--font-weight-l) var(--font-size-l) / var(--font-line-l) var(--font-family-main);
    --font-size-x: 26px;
    --font-line-x: 28px;
    --font-weight-x: 500;
    --font-x: var(--font-weight-x) var(--font-size-x) / var(--font-line-x) var(--font-family-main);
    --font-size-xl: 32px;
    --font-line-xl: 40px;
    --font-weight-xl: 600;
    --font-xl: var(--font-weight-xl) var(--font-size-xl) / var(--font-line-xl) var(--font-family-main);

    // Шрифт для кода
    --font-code: 300 16px "Consolas", sans-serif;

    // Размеры
    --navbar-height: 110px;
    --sidebar-width: 243px;
    --sidebar-width-collapsed: 134px;

    // Индексы
    --modal-z-index: 5;

    // Цвета
    --overlay-color: rgba(0 0 0 / 60%);
    --error: #eb5757;
    --hint-color: #aeaeae;

    // box-shadow on focus
}
