.title {
    font: var(--font-l);
    color: var(--color-primary);
}

.text {
    font: var(--font-m);
    color: var(--color-secondary);
    margin-top: 12px;
}

.error {
    .title {
        color: var(--error);
    }

    .text {
        color: var(--error);
    }
}

.clear {
    .title {
        color: inherit;
    }
}

.LOW {
    .title {
        font-size: 16px;
    }
}

.MEDIUM {
    .title {
        font-size: 24px;
    }
}

.HIGH {
    .title {
        font-size: 32px;
    };
}

.XL {
    .title {
        font-size: 32px;
    };
}

.X {
    .title {
        font-size: 16px;
    }
}

.L {
    .title {
        font-size: 24px;
    }
}

.M {
    .title {
        font-size: 32px;
    };
}

.S {
    .title {
        font-size: 32px;
    };
}
