.title {
    font: var(--font-l);
    color: var(--color-primary);
}

.text {
    font: var(--font-m);
    color: var(--color-secondary);
    margin-top: 12px;
}

.error {
    .title {
        color: var(--error);
    }

    .text {
        color: var(--error);
    }
}

.clear {
    .title {
        color: inherit;
    }
}

.XL {
    .title {
        font: var(--font-xl);
    };
}

.X {
    .title {
        font: var(--font-x);
    }
}

.L {
    .title {
        font: var(--font-l);
    }
}

.S {
    .title {
        font: var(--font-s);
    };
}

.M {
    .title {
        font: var(--font-m);
    };
}
