.button {
    cursor: pointer;
    color: var(--color-primary);
    border-radius: 4px;
    border: none;
}

.clear {
    padding: 0;
    margin: 0;
    background: none;
    border: none;
    outline: none;
}

.outlined {
    padding: 12px 24px;
    border: 1px solid var(--color-inverted);
    color: var(--color-inverted);
    background: none;
    transition: 0.2s ease-in all;
}

.primary {
    padding: 12px 24px;
    font: var(--font-m);
    background-color: #fff;

}
.secondary {
    border-radius: 6px;
    background-color: var(--color-accent);
}

.size_m {
    font: var(--font-m);
}

.size_l {
    font: var(--font-l);
}

.size_xl {
    font: var(--font-xl);
}

.disabled {
    cursor: not-allowed;
    opacity: 0.5;

    &:hover {
        pointer-events: none;
    }
}
