.button {
    cursor: pointer;
    color: var(--primary-color);
}

.clear {
    padding: 0;
    margin: 0;
    background: none;
    border: none;
    outline: none;
}

.outlined {
    padding: 12px 24px;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    background: none;
}
