.grid {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
}

.list {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    gap: 80px;
}

.wrapper {
    display: flex;
}
