.wrapper {
    min-height: 100%;
}

.filters {
    display: flex;
    gap: 16px;
}

.loader {
    margin-top: 40px;
}

.articles {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
}
