.wrapper {
    min-height: 100%;
}

.content {
    max-width: 900px;
}

.filters {
    display: flex;
    gap: 16px;
}

.loader {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
