.app.dark {
  --bg-color: #0E1D27;
  --inverted-bg-color: #FAFCFE;

  --primary-color: #3DABF7;
  --secondary-color: #FFFFFF;

  --inverted-primary-color: #3DABF7;
  --inverted-secondary-color: #0E1D27;
}
