.app_dark_theme {
    --bg-color: #0e1d27;
    --inverted-bg-color: #fafcfe;
    --primary-color: #f99354;
    --secondary-color: #fff;
    --inverted-primary-color: #3dabf7;
    --inverted-secondary-color: #0e1d27;
}
