.app.light {
  --bg-color: #FAFCFE;
  --inverted-bg-color: #0E1D27;

  --primary-color: #3DABF7;
  --secondary-color: #0E1D27;

  --inverted-primary-color: #3DABF7;
  --inverted-secondary-color: #FFFFFF;
}
