.app.light {
    --bg-color: #fafcfe;
    --inverted-bg-color: #0e1d27;
    --primary-color: #3dabf7;
    --secondary-color: #0e1d27;
    --inverted-primary-color: #3dabf7;
    --inverted-secondary-color: #fff;
}
