.app_simple_theme {
    --color-primary: #000000;
    --color-secondary: #fafcfe;
    --color-main: #fafcfe;
    --color-inverted: #0e1d27;
    --bg-color: #fafcfe;
    --bg-color-secondary: #f1f1eb;
    --inverted-bg-color: #000000;
    --inverted-primary-color: #fafcfe;
    --inverted-secondary-color: #000000;
}
