.app_simple_theme {
    --color-primary: #000000;
    --color-secondary: #B8B8B8;
    --color-main: #FFF;

    --color-accent: #3E6089;

    --color-inverted: #0e1d27;

    --bg-color: #FFF;
    --bg-color-secondary: #f1f1eb;

    --border-color: #DADADA;

    --inverted-bg-color: #000000;
    --inverted-primary-color: #fafcfe;
    --inverted-secondary-color: #000000;
}
