.navbar {
  width: 100%;
  padding: 37px 0;
  height: var(--navbar-height);
  border-bottom: var(--primary-color) 2px solid;
  background-color: var(--bg-color);

  gap: 16px;

  display: flex;
  align-items: center;
  justify-content: center;
}
