.wrapper {
    display: flex;
    flex-direction: column;
}

.date {
    font-size: 14px;
    font-weight: 500;
}

.username {
    font-size: 16px;
    font-weight: 600;
}

.header {
    display: flex;
    gap: 16px;
}

.commentInfo {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.text {
    margin-top: 20px;
}

.additional {
    margin-top: 18px;
    display: flex;
    gap: 20px;
    align-items: center;
}

.link {
    display: flex;
    padding: 0;
}
